
div {
    padding: 20px;
    margin: 20px;
    font-size: 22px;
    background:lightblue;
}
.grid-container {
    margin: 0 10%;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2px;
    grid-row-gap: 20px;
    height: 100vh;
}

/**
 * This way one can create section like header, sidebar etc
**/
.grid-item-1 {
    grid-column-start: 1;
    grid-column-end : 4;
}